

<style>
        @import url("https://fonts.googleapis.com/css?family=Heebo:900");
        @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
  
  
          /* ---- reset ---- */ 
         body{
          font-family: 'Roboto', sans-serif;
          background-image: linear-gradient(to bottom right,#0f1012,#181b90)!important;
         }
          canvas{
              display: block; 
              vertical-align: bottom;
              height: 90% !important;
              margin:0;
              font:normal 75% Arial,
              Helvetica, sans-serif;
               }
          /* ---- particles.js container ---- */ 
           #particles-js{
                  background-image: linear-gradient(to bottom right,#0f1012,#181b90)!important;
  
              position:absolute;
              width: 100%;
              height: 130%; 
              background-color: rgb(11, 11, 112); 
              background-repeat: no-repeat; 
              background-size: cover; 
              background-position: 50% 50%;  
                         
              } 
            nav{
                height: 66px;
                opacity: 0;
                transition: all ease-in 0.9s ;
            }
            a{
              color: rgb(235, 235, 235) !important;
            }
            a:active{
              color: coral !important;
            }
            .jc_center{
                justify-content: center;
            }
            .p1{
                padding: 15px 15px;
            }
            .navTogicon{
              display: inline-block;
              width: 1.5em;
              height: 1.5em;
              vertical-align: middle;
             
            }
            button:focus{
                    outline: none;
                }
            @media(max-width: 500px){
                .p1{
                padding: 15px 10px;
                }
                .res_icon{
                  font-size: 10px;
                }
              
            }
            @media(max-width: 992px){
                .pl15{
                    padding-left: 15px;
                }
                .nav_tog{
                    border-color: rgba(0,0,0,0) !important;
                }
            }
            @media(min-width: 992px){
                .lg_icon{
                  position: absolute;
                  right: 2px;
                  top: 3px;
  
                }
            }
            .mr_res{
                margin-right: 20%;
            }
        
          
            .navLink{
              border-bottom: 3px solid transparent;
              padding: 10px 15px !important;
              width: max-content;
              transition: all ease 0.4s;
            }
            .navLink:hover{
              border-bottom: 3px solid coral;
            }
            /* for signup form */
            .formSec{
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              top: 8%;
              left: 50%;
              transform: translate(-50%, 0);
            }
            * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    width: 100%;
    min-height: 100vh;
  }
  
  button,
  input {
    border: none;
    outline: none;
  }
  
  /****************
        FORM
  *****************/
  .signup {
    background-color: white;
    width: 100%;
    width: 500px;
    padding: 30px 50px;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
  h1 {
    text-align: center;
    color: rgb(11, 11, 112);
  }
  h2 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: lighter;
  
    margin-bottom: 40px;
  }
  
  h2 span {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(11, 11, 112);
  }
  
  /*  Field */
  .signup__field {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
  }
  
  .signup__field:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 0px;
    height: 2px;
    background: rgb(11, 11, 112);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.4s ease;
  }
  
  .signup__field:hover:before {
    width: 100%;
  }
  
  /*  Input */
  .signup__input {
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    padding: 10px 2px 0;
    border-bottom: 2px solid #e0e0e0;
  }
  
  /*  Label */
  .signup__label {
    color: #bdbdbd;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2px;
    font-size: 1.2rem;
    transition: all 0.3s ease;
  }
  
  .signup__input:focus + .signup__label,
  .signup__input:valid + .signup__label {
    top: 0;
    font-size: 1rem;
    background-color: white;
  }
  
  /*  Button */
  button {
    background: rgb(11, 11, 112);
    color: white;
    border: 3px solid transparent;
    padding: 12px 0;
    font-size: 1.2rem;
    border-radius: 50px;
    cursor: pointer;
    transition: all ease 0.3s;
  }
  
  button:hover {
    background: white;
    color: rgb(11, 11, 112);
    border: 3px solid rgb(11, 11, 112);
  }
  .btlrNone{
      border-top: none;
      border-left: none;
      border-right: none;
  }
  .course{
      color: #bdbdbd;
  }
  .course:focus{
      outline: none;
  }
  @media(max-width: 600px){
      .signup{
          width: 400px;
      padding: 20px 30px;
      margin-top: 45%;
      }
  
      .signup__field{
          margin-bottom: 20px;
      }
  
  }
  @media(max-width: 430px){
      .signup{
         width: 300px;
      padding: 20px 20px;
      margin-top: 40%;
      }
      .signup__field{
          margin-bottom: 30px;
      }
      h1{
          font-size: 2rem;
          font-weight: bold;
      }
      .p1{
          padding: 15px 5px;
      }
  
  }
  .animate1 {
      opacity: 0;
      transition: 0.7s all ease-in-out;
  }

  .filepond--root{
    width: 100px;
    height: 50px;
    font-size: 10px;
  }


</style>
  <body style="font-family: 'Roboto', sans-serif;">
   
          <section class="mx-auto formSec animate1">
              <form  action="/my-profile" method="post" class="signup" autocomplete="off">
                <%- include('./partials/messages.ejs') %>

                  <h1>PROFILE</h1>
                  <% if(profileCompleted !== true){ %>
                    <small style="text-align: justify; color: red;">Complete profile to access dashboard</small>
                  <% } %>
                
                  
                  <div class="signup__field" style="margin-top: 20px;">
                    <input class="signup__input" type="text" name="fullname" value="<%= data[0].fullname %>" required />
                    <label class="signup__label" for="email">Full name</label>
                  </div>
                                  
                  <div class="signup__field" style="margin-top: 00px;">
                    <input class="signup__input" type="text" name="email" disabled value="<%= data[0].email %>"  style="background-color: transparent;" required />
                    <label class="signup__label" for="email"></label>
                  </div>
                                  
                  <!-- <div class="signup__field" style="margin-top: 20px;">
                    <input class="signup__input" type="text" name="encryptedPassword" disabled value="x x x x x x x x x x x x x x x x x x x x x"  style="background-color: transparent;" required />
                    <label class="signup__label" for="email"></label>
                  </div> -->
                         
                  <div class="signup__field">
                    <select class="signup__input btlrNone course gender" name="gender" onchange="gender123()" id="<%= data[0].gender %>" required>
                        <option value="gender" disabled selected>Gender</option>
                        <option value="male">Male</option>
                        <option value="femail">Female</option>
                    </select>
                    <small style="color: red; text-align: justify; display: none;" id="genderMsg">Select valid gender.</small>
                  </div>
      
                  <div class="signup__field" style="margin-top: 20px;">
                    <input class="signup__input" type="text" name="roll" onkeyup="gender123()" value="<%= typeof data[0].roll_no == undefined ? '' : data[0].roll_no %>" required />
                    <label class="signup__label" for="email">Roll no</label>
                  </div>

                  <div class="" style="width:100px; height:150px; margin-top: 20px; display: flex; justify-content: left; flex-direction: row;">
                    
                    <div><input class="filepond" type="file" name="banner1" /></div>
                    <div>
                      <% if (data[0].banner1Path) { %> 
                        <img src="<%= data[0].banner1Path %>" width="100px" height="100px" alt="profile pic" style="display: inline-block; border-radius: 100%; margin: 0px 10px;">
                      <% } %>
                    </div>
                  </div>

                  <button type="submit" id="submit">UPDATE PROFILE</button>
  
                          </form>
              </section>

            </div>
              <br> <br>
              <br> <br>
              <br> <br>

      <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
      
  </body>
  <script>
      particlesJS("particles-js",
      {"particles":{"number":{"value":80,"density":{"enable":true,"value_area":500}}
      ,"color":{"value":"#ffffff"},"shape":
      {"type":"circle","stroke":
      {"width":0,"color":"#000000"}
      ,"polygon":{"nb_sides":5},"image":{"src":"img/github.svg","width":110,"height":100}}
      ,"opacity":{"value":0.5,"random":false,"anim":
      {"enable":false,"speed":1,"opacity_min":0.1,"sync":false}}
      ,"size":{"value":3,"random":true,"anim":
      {"enable":false,"speed":40,"size_min":0.1,"sync":false}}
      ,"line_linked":{"enable":true,"distance":200,"color":"#ffffff","opacity":0.5,"width":1}
      ,"move":{"enable":true,"speed":4,"direction":"none","random":false,"straight":false,"out_mode":"out","bounce":false,"attract":
      {"enable":false,"rotateX":600,"rotateY":1200}}},"interactivity":
      {"detect_on":"canvas","events":{"onhover":
      {"enable":true,"mode":"repulse"}
      ,"onclick":{"enable":true,"mode":"push"}
      ,"resize":true},"modes":{"grab":
      {"distance":400,"line_linked":
      {"opacity":1}},"bubble":
      {"distance":400,"size":40,"duration":2,"opacity":8,"speed":3}
      ,"repulse":{"distance":100,"duration":0.4},"push":
      {"particles_nb":4},"remove":{"particles_nb":2}}}
      ,"retina_detect":true});
     
  </script>
  <script>
    function showNav(){
      document.getElementById('nav').style.opacity="1";
    }
  
   // form animation
  function scrollAppear1() {
     let introtext1 = document.querySelector('.animate1');
         introtext1.style.opacity="1";
  }
    $(document).ready(function () {
    showNav();
    scrollAppear1();
  });
  </script>

<script>
a = document.querySelector('.gender')
function getSelectedOption(sel) {
    var opt;
    for ( var i = 0, len = sel.options.length; i < len; i++ ) {
        opt = sel.options[i];
        if ( opt.value === a.id ) {
                opt.selected = true
            break;
        }
    }
    return opt;
}
// get selected option in sel (reference obtained above)
var opt = getSelectedOption(a);


function gender123(){
    opt = document.getElementsByClassName('gender')[0].value
    
    if(opt == 'gender'){
      document.getElementById('genderMsg').style.display = 'block'
      document.getElementById('submit').disabled = true 
    } else {
      document.getElementById('genderMsg').style.display = 'none'
      document.getElementById('submit').disabled = false 

    }
  }
</script>
  
